<footer class="footer" id="contacts">
  <div class="grid">
    <div class="unit half">
      <p class="author-description">
        I am <a href="http://linkedin.com/glsorrentino" target="_blank">Giuseppe Sorrentino</a> and rightright.me is my personal digital playground.
      </p>
      <p class="author-copyright">
        &#169; Copyright 2017, rightright.me
      </p>
    </div>
    <div class="unit half">
      <p class="author-description">
        Mail: giuseppe [at] rightright [dot] me.
      </p>
      <div class="addthis_inline_follow_toolbox"></div>
    </div>
  </div>
</footer>
