<footer class="footer" id="contacts">
  <div class="grid">
    <div class="unit whole">
      <p class="author-description">
        I am <a href="https://it.linkedin.com/in/glsorrentino" target="_blank">Giuseppe Sorrentino</a> and rightright.me is my personal digital playground.
      </p>
      <p class="author-description">
        Mail: giuseppe [at] rightright [dot] me.
      </p>
      <div class="addthis_inline_follow_toolbox"></div>
      <p class="author-copyright">
        &#169; rightright.me
      </p>
    </div>
  </div>
</footer>
