<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p class="footer-copyright">&copy; 2017 {{ site.title }} by {{ site.author }}</p>
      </div>

      <nav class="footer-nav footer-col">
        <a class="page-link" href="https://it.linkedin.com/in/glsorrentino"><i class="fa fa-linkedin"></i></a>
        <a class="page-link" href="https://twitter.com/glsorre"><i class="fa fa-twitter"></i></a>
        <a class="page-link" href="https://github.com/glsorre?tab=repositories"><i class="fa fa-github"></i></a>
        <a class="page-link" href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss"></i></a>
      </nav>

    </div>

  </div>

</footer>

<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58a1cdd069fcfadf"></script>
