<header class="header" role="banner">

  <div class="grid">

   <div class="unit golden-small">
    <h1 class="logo">
      <a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
    </h1>
   </div>

   <div class="unit golden-big">
      <nav class="nav">
        <a class="nav-link" href="#aboutme">contact me</a>
        <a class="nav-link" href="{{ "/feed.xml" | relative_url }}">feed<i class="fa fa-rss"></i></a>
      </nav>
   </div>

  </div>

  <div class="grid">
    <p class="unit whole description">
      {{ site.description }}
    </p>
  </div>

</header>