<header class="header" role="banner">

  <div class="grid">

   <div class="unit golden-small">
    <h1 class="logo">
      <a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
    </h1>
   </div>

   <div class="unit golden-big">
      <nav class="nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
        <a class="nav-link" href="#contacts">contacts<!--<i class="fa fa-user"></i>--></a>
        <a class="nav-link" href="/feed.xml">feed<!--<i class="fa fa-rss"></i>--></a>
      </nav>
   </div>

  </div>

  <div class="grid">
    <p class="unit whole description">
      {{ site.description }}
    </p>
  </div>

</header>