<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="/scripts/index.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">

    <script>
      document.addEventListener('alpine:init', () => {
            Alpine.data('layout', () => ({
                showMenu: false,
                hash: window.location.hash,
                init () {
                  window.addEventListener('hashchange', (e) => {
                    this.hash = window.location.hash
                  })
                },
                toggleMenu(e) {
                  document.body.classList.toggle('overflow-hidden')
                  this.showMenu = !this.showMenu
                },
                closeMenu(e) {
                  document.body.classList.remove('overflow-hidden')
                  this.showMenu = false
                }
            }))
        })
    </script>

  </head>
  <body x-data="layout">
    <nav class="nav">
      <button class="nav__hamburger" @click="toggleMenu">hamburger menu</button>
      <div class="nav__overlay" 
        x-show="showMenu" 
        x-transition
        x-transition:enter.duration.200ms
        x-transition:leave.duration.200ms
        @click="closeMenu"
        >
        <ul class="nav__list">
          <li class="nav__list__item">
            <h1 class="nav__logo">right right</h1>
            <p class="nav__contacts">
              <b>right</b> designed and <b>right</b> crafted by <a href="https://linkedin.com/in/glsorrentino">Giuseppe Sorrentino</a> - ✉️ giuseppe [at] rightright [dot] me
            </p>
          </li>
          {%- for item in navigations -%}
            <li class="nav__list__item">
              <a 
                x-data="{ active: false }"
                x-effect="active = `${window.location.pathname}${hash}` === '{{ item.anchor }}' ? true : false"
                class="nav__list__item__anchor"
                :class="{ 'active': active }"
                href="{{ item.anchor }}"
              >
                {{ item.label }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </nav>
    {{ content | safe }}
  </body>
</html>