---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #322933;
$background-color: lighten($text-color, 80%);
$brand-color:      #69b161;

// $green:#69b161;
$grey-color: $text-color;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// // Import partials from the `minima` theme.
@import "minima";

html {
  height: 100%;
}

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: $background-color;
}

.content-wrapper {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-color;
}

a {
  color: $brand-color;
  text-decoration: none;
  
  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }

  &:visited {
    color: $brand-color;
  }
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: white;
}

main {

  .wrapper {
    background: $background-color;
  }

  h1, h2, h3 , h4, h5, h6 {
    font-family: 'Scope One', serif;
  }
}

.site-header {
  border: none;

  a {
    color: $text-color;
    text-decoration: underline;

    &:hover {
      color: $brand-color;
    }
  }

  .page-link {
    text-decoration: none;
    color: $text-color;
  } 

  .bordered {
    border-bottom: 1px solid $text-color;
  }

  .description {
    font-size: 15px;
    margin: 0;
    padding: 15px 0;

    b {
      color: $brand-color;
    }
  }

  .trigger {
    font-size: 18px;
    margin-top: 15px;
  }
}

.site-title {
  display: block;
  text-indent: -9999px;
  width: 160px;
  height: 60px;
  background: url("/assets/rightright_logo.svg") no-repeat -5px 0px;
  background-size: 170px 120px;
  margin: 15px 0 0 0;

  &:hover {
    background: url("/assets/rightright_logo.svg") no-repeat -5px -65px;
    background-size: 170px 120px;
  }
}

.site-footer {
  border: none;
  color: $background-color;
  padding: 0;

  .wrapper {
    background: $text-color;
    padding-top: 15px;
  }

  .footer-col {
    color: $background-color;
    // margin-bottom: 0;
  }

  .footer-copyright {
    margin: 0;
    font-size: 13px;
  }

  .footer-nav{
    float: right;

    a {
      padding: 15px;
    }
  }

  a {
    color: $background-color;
    text-decoration: underline;

    &:hover {
      color: $brand-color;
    }
  }
}

.post-title {
  margin-bottom: 0;
  padding: 10px 0;
}

.post-description {
  font-size: 14px;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
  .site-footer {

    .footer-copyright {
      text-align: center;
    }

    .footer-nav{
      padding: 0;

      a {
        width: 24%;
        padding: 20px 0;
        display: inline-block;
        text-align: center;
        font-size: 24px;
      }
    }
  }

}