---
layout: default
---

<div class="home grid">
  <div class="unit whole">

      {% for post in site.posts %}
      <div class="post-container">
        
          <h2 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {% if post.type == 'medium' %}
            <span class="post-type"><i class="fa fa-medium"></i> Post |</span>
          {% elsif post.type == 'slideshare' %}
            <span class="post-type"><i class="fa fa-slideshare"></i> Slides deck |</span>
          {% elsif post.type == 'project' %}
            <span class="post-type"><i class="fa fa-external-link-square"></i> Project |</span>
          {% endif %}
          
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      </div>
      {% endfor %}

  </div>
</div>
