---
layout: layout.njk
title: glsorre - Giuseppe Sorrentino senior developer
---

<script>
  document.addEventListener('alpine:init', () => {
        Alpine.data('unicorn', () => ({
            links: {{ links | reverse | jsonify | safe }},
            filteredLinks: {{ links | reverse | jsonify | safe }},
            typed: null,
            showA: false,
            showList: true,
            init () {
              document.getElementById('typed').innerText = ''

              this.$watch('hash', (value) => {
                this.showList = false
                this.showFooter = false

                setTimeout(() => {
                  this.filteredLinks = []
                  setTimeout(() => {
                    const slug = window.location.hash.replace('#', '')
                    if (slug === '') {
                      this.filteredLinks = this.links
                      this.typed = new window.Typed('#typed', {
                        strings: ['giuseppe'],
                        autoStart: true,
                        showCursor: false,
                        typeSpeed: 200,
                      })
                      this.showMenu = false
                      this.showList = true
                      this.showFooter = true
                      return
                    }
                    this.filteredLinks = this.links.filter(item => item.tags === slug)
                    this.typed = new window.Typed('#typed', {
                      strings: [slug],
                      autoStart: true,
                      showCursor: false,
                      typeSpeed: 200,
                    })
                    this.showMenu = false
                    this.showList = true
                    this.showFooter = true
                  }, 200)
                }, 200)
              })
            },
            effect () {
              if (window.location.hash) {
                const slug = window.location.hash.replace('#', '')
                this.filteredLinks = this.links.filter(item => item.tags === slug)
              } else {
                window.location.hash = "#"
              }
            },
            toggleFilter (event, slug) {
              event.preventDefault()
              if (`#${slug}` === this.hash) {
                window.location.hash = ""
                return
              }
              window.location.hash = `#${slug}`
              this.lastHash = this.hash
            },
            titleEffect () {
              this.typed = new window.Typed('#typed', {
                strings: [window.location.hash.replace('#', '') || 'giuseppe'],
                autoStart: true,
                showCursor: false,
                typeSpeed: 100,
              })
            },
            aEffect () {
              this.showA = this.hash !== '';
            }
        }))
    })
</script>

<div class="container" x-data="unicorn" x-effect="effect">
  <header class="content">
    <div class="content_item">
      <h1 class="content__title" x-effect="titleEffect">i am <span x-effect="aEffect" x-show="showA" x-transition x-transition:enter.duration.200ms x-transition:leave.duration.200ms>a</span> <span id="typed">giuseppe</span></h1>
      <p class="content__intro">
        Hey 👋, I am a <strong>senior software developer</strong> with a strong academic and professional <strong>background in UX.</strong> 😊
      </p>
      <p class="content__intro rr">
        In my free time I create and distribute <strong>delightful digital products</strong> with 🤍 at <strong><a target="_blank" href="https://www.rightright.me">right right</a></strong>.
      </p>
    </div>
  </header>
  <div class="content">
    <div class="content_item">
      <div class="links">
        <div :class="hash === '#writer' ? 'link_item active' : 'link_item'">
          <a class="link_item__anchor" @click="toggleFilter($event, 'writer')" href="/#writer">writer</a>
        </div>
        <div :class="hash === '#speaker' ? 'link_item active' : 'link_item'">
          <a class="link_item__anchor" @click="toggleFilter($event, 'speaker')" href="/#speaker">speaker</a>
        </div>
        <div :class="hash === '#developer' ? 'link_item active' : 'link_item'">
          <a class="link_item__anchor" @click="toggleFilter($event, 'developer')" href="/#developer">developer</a>
        </div>
        <div :class="hash === '#designer' ? 'link_item active' : 'link_item'">
          <a class="link_item__anchor" @click="toggleFilter($event, 'designer')" href="/#designer">designer</a>
        </div>
      </div>
    </div>
  </div>
  <ul class="roles_content" x-show="showList" x-transition x-transition:enter.duration.200ms x-transition:leave.duration.200ms>
    <template x-for="link in filteredLinks">
      <li class="roles_content__item">
        <div class="roles_content__info__container">
            <span class="roles_content__info__tags" x-text="link.tags"></span>
            <span class="roles_content__info__label" x-text="link.label"></span>
            <span class="roles_content__info__date" x-text="DateTime.fromISO(link.date).toFormat('MMMM yyyy')"></span>
        </div>
        <h2 class="roles_content__item__title">
          <a :href="link.anchor" :target="link.anchor.startsWith('/') ? '' : '_blank'" x-text="link.title"></a>
        </h2>
        <div x-show="link.img" class="roles_content__item__image">
          <img :src="link.img" />
        </div>
        <div class="roles_content__item__description" x-text="link.desc"></div>
      </li>
    </template>
  </ul>
<div>